/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgb(239,239,245);
    --foreground: rgba(0,0,0,0.87);

    --card: rgb(255,255,255);
    --card-foreground: 	rgba(0,0,0,0.87);

    --popover: rgb(255,255,255);
    --popover-foreground: rgba(0,0,0,0.87);

    --primary: rgba(13, 183, 96);
    --primary-hover: rgb(12,167,87);
    --primary-background: rgba(13, 183, 96,0.1);
    --primary-foreground: rgb(248, 250, 252);

    --secondary: rgb(241, 245, 249);
    --secondary-background: rgb(255, 255, 255);
    --secondary-foreground: rgba(0,0,0,0.87);

    --muted: rgb(241, 245, 249);
    --muted-foreground: rgb(99, 114, 136);

    --accent: rgb(241, 245, 249);
    --accent-foreground: rgb(15, 23, 41);

    --destructive: rgb(239, 67, 67);
    --destructive-foreground: rgb(248, 250, 252);

    --border: rgba(0, 0, 0,0.1);
    --input: rgb(225, 231, 239);
    --ring: rgb(2, 7, 19);

    --radius: 0.5rem;
  }

  .dark {
    --background: rgb(2, 7, 19);
    --foreground: rgb(248, 250, 252);

    --card: rgb(2, 7, 19);
    --card-foreground: rgb(248, 250, 252);

    --popover: rgb(2, 7, 19);
    --popover-foreground: rgb(248, 250, 252);

    --primary: rgb(248, 250, 252);
    --primary-foreground: rgb(15, 23, 41);

    --secondary: rgb(29, 40, 57);
    --secondary-foreground: rgb(248, 250, 252);

    --muted: rgb(29, 40, 57);
    --muted-foreground: rgb(148, 163, 184);

    --accent: rgb(29, 40, 57);
    --accent-foreground: rgb(248, 250, 252);

    --destructive: rgb(124, 29, 29);
    --destructive-foreground: rgb(248, 250, 252);

    --border: rgb(29, 40, 57);
    --input: rgb(29, 40, 57);
    --ring: rgb(200, 211, 223);
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    @apply bg-primary;
    &:hover{
      @apply bg-primary-hover;
    }
  }



  * {
    @apply border-border;
  }
  body {

    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'SF Pro Display';
  src:url('assets/fonts/SF Pro Display/SF-Pro-Display-Regular.otf');
}

@font-face {
    font-family: 'SF Pro Text';
    src:url('assets/fonts/SF Pro Text/SF-Pro-Text-Regular.otf');
}