/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*@layer base {
  :root {
    --background: rgb(240, 240, 246);
    --foreground: rgba(0, 0, 0, 0.87);

    --card: rgb(255, 255, 255);
    --card-foreground: rgba(0, 0, 0, 0.87);

    --popover: rgb(255, 255, 255);
    --popover-foreground: rgba(0, 0, 0, 0.87);

    --primary: rgba(13, 183, 96);
    --primary-hover: rgb(12, 167, 87);
    --primary-background: rgba(13, 183, 96, 0.1);
    --primary-foreground: rgb(248, 250, 252);

    --secondary: rgb(241, 245, 249);
    --secondary-background: rgb(255, 255, 255);
    --secondary-foreground: rgba(0, 0, 0, 0.87);

    --muted: rgb(241, 245, 249);
    --muted-foreground: rgb(99, 114, 136);

    --accent: rgb(241, 245, 249);
    --accent-foreground: rgb(15, 23, 41);

    --destructive: rgb(239, 67, 67);
    --destructive-foreground: rgb(248, 250, 252);

    --border: rgba(0, 0, 0, 0.05);
    --input: rgb(225, 231, 239);
    --ring: rgb(2, 7, 19);

    --radius: 0.5rem;
  }

  .dark {
    --background: rgb(2, 7, 19);
    --foreground: rgb(248, 250, 252);

    --card: rgb(255,255,255,0.1);
    --card-foreground: rgb(248, 250, 252);

    --popover: rgb(2, 7, 19);
    --popover-foreground: rgb(248, 250, 252);

    --primary: rgb(248, 250, 252);
    --primary-foreground: rgb(15, 23, 41);

    --secondary: rgb(29, 40, 57);
    --secondary-foreground: rgb(248, 250, 252);

    --muted: rgb(29, 40, 57);
    --muted-foreground: rgb(148, 163, 184);

    --accent: rgb(29, 40, 57);
    --accent-foreground: rgb(248, 250, 252);

    --destructive: rgb(124, 29, 29);
    --destructive-foreground: rgb(248, 250, 252);

    --border: rgb(29, 40, 57);
    --input: rgb(29, 40, 57);
    --ring: rgb(200, 211, 223);
  }
}*/



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.75rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@layer base {
  html {
    scroll-behavior: smooth;
    
  }

  ::-webkit-scrollbar {
    display: none;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .active {
    @apply text-foreground rounded-2xl bg-muted;
  }

  @media screen and (min-width: 768px) {
    .active {
      //@apply bg-primary text-primary-foreground;
      @apply bg-transparent rounded-none;
      transition: color 0.5s;
      &:before {
        content: '';
        position: absolute;
        height: 0.3rem;
        width: 0.7rem;
        bottom: -10px;
        scale: 1;
        animation: link 0.5s ease-in-out;
        @apply bg-foreground rounded-full;
      }
    }

  }

  .social {
    
    a {
      &[data-social='LeetCode'] {
        .filled {
          @apply bg-socialMedias-leetCode;
        }
      }

      &[data-social='LinkedIn'] {
        .filled {
          @apply bg-socialMedias-linkedin;
        }
      }

      &[data-social='Github'] {
        .filled {
          @apply bg-socialMedias-github;
        }
      }
    }

    &:hover{
      svg{
        animation: rotate .5s;
        
      }
    }
  }


}

@font-face {
  font-family: 'SF Pro Display';
  src: url('assets/fonts/SF Pro Display/SF-Pro-Display-regular.otf');
}

@font-face {
  font-family: 'SF Pro Display Bold';
  src: url('assets/fonts/SF Pro Display/SF-Pro-Display-Bold.otf');
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('assets/fonts/SF Pro Text/SF-Pro-Text-Regular.otf');
}

@font-face {
  font-family: 'Poetsen One';
  src: url('assets/fonts/poetsen_one/PoetsenOne-Regular.ttf');
}


@font-face {
  font-family: 'Nesia Sans';
  src: url('assets/fonts/Nesia-Sans-Font/nesia-sans.otf');
}

@font-face {
  font-family: 'Dreaming Out Loud';
  src: url('assets/fonts/Dreaming-Out-Loud-Font/FontsFree-Net-Dreaming.ttf');
}

@keyframes link {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes socialAnimation {
  from {
    height: 0;
    top: 100%;
  }

  to {
    height: 100%;
    top: 0
  }
}

@keyframes rotate{
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(360deg);
  }
}